<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-hand-left"></span>
            </a>
        </p>
    </div>
</nav>

<div class="container-fluid contentPadding">
    <ul class="list-group">
        <li ng-repeat= "user in model.users" class="list-group-item">
            <a>{{user.username}} /{{user._id}}</a>
            <div class="listConf pull-right">
                <a ng-click="model.deleteUser(user._id)">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            </div>
        </li>
    </ul>
</div>

<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{model.user._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</footer>
