

<div class="container">
    <h1>You have logged in with your Facebook account</h1>
    <h2>Please click image below to navigate to your profile page</h2>
    <a href="#/user/{{currentUser._id}}"><img src= "image/facebook.png"></a>

</div>




<footer class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="navbar-link" href="#/user/{{currentUser._id}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</footer>