<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a ng-click="model.updateWidget(widget)" class="navbar-link">
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </p>
        <p class="navbar-text pull-left">
            <a class="navbar-link" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </p>
        <div class="navbar-header">
            <a class="navbar-brand">Widget Text Edit</a>
        </div>
    </div>
</nav>



<div class="container-fluid contentPadding">
    <form>
        <div class="form-group">
            <label for="text">Text</label>
            <input ng-model="model.widget.text" type="text" class="form-control" id="text" placeholder="Text">
        </div>
        <div class="form-group">
            <label for="row">Rows</label>
            <input ng-model="model.widget.rows" type="text"  class="form-control" id="row" value= {{widget.rows}}>
        </div>
        <div class="form-group">
            <label for="placeholder">Placeholder</label>
            <input ng-model="model.widget.placeholder" type="text"  class="form-control" id="placeholder" placeholder="example">
        </div>
        <div class="form-group">
            <label for="formatted">Formatted</label>
            <input ng-model="model.widget.formatted" type="checkbox"  class="form-control" id="formatted">
        </div>
    </form>
    <a class="btn btn-danger  btn-block" ng-click="model.deleteWidget(widget)">Delete</a>
</div>